
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

/*
====================
    Global styles
====================
*/




h1{
  
    font-size: 4em!important;
    font-family: 'Cinzel', serif;
    color: #CC0000!important;
    opacity: .9;
    width: 50%;
}

p{
    font-family: 'Lato', sans-serif;   
    text-align: justify;
    font-size: 1.1em;
}

#custom-nav{

    background-color:#CC0000!important;
    color: #7F817E!important;
    border-bottom: none!important;
    box-shadow: none!important;
    margin-top: 1.5%;
    
}


#custom-nav img, #custom-nav #brand {

    position: relative;
    left: 10%;
    top: 5%;
    
}

#custom-nav ul a, 
#custom-nav #brand {
    color: #ffff!important;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
   

}

#custom-nav img {
    margin-top: 8px;
    margin-right: 15px;
}

#custom-nav #brand{
    font-size: 2em;
    position: relative;
    bottom: 20%;
    font-weight: bold;  
    font-family: 'Sacramento', cursive;
}


#toggler {
    position: absolute;
    right: 20%;
    bottom: 91%;
    left: 85%;
    cursor: pointer;
    padding: 15px;
    height: 50px;
    width: 50px;
} 

#toggler div:nth-of-type(1){
    height: 3px;
    width: 25px;
    background-color: #FFCC00;
    transition: all 0.5s ease;
    position: relative;
    right: 25%;
    transform: rotate(180deg);
    
}

#toggler div:nth-of-type(2){
    height: 3px;
    width: 25px;
    margin-top: 5px;
    transition: all 0.5s ease;
    position: relative;
    left: 30%;
    transform: rotate(180deg);
    background-color: #FFCC00;
}

/* Change of Toggle icon*/

#transformed-toggler {
    position: absolute;
    right: 20%;
    bottom: 91%;
    left: 85%;
    cursor: pointer;
    border: 2px solid #FFCC00;
    border-radius: 50%;
    padding: 15px;
    height: 50px;
    width: 50px;
    z-index: 2;
    background-color: #fafafa!important;
    
} 

#transformed-toggler div:nth-of-type(1){
    height: 3px;
    width: 25px;
    background-color: #FFCC00;
    position: relative;
    right: 50%;
    top: 30%;
    transition: all 0.5s ease;
    transform: rotate(90deg);
}

#transformed-toggler div:nth-of-type(2){
    height: 20px;
    width: 3px;
    margin-top: 5px;
    position: relative;
    right: 40%;
    left: 90%;
    bottom: 70%;
    transition: all 0.5s ease;
    background-color: #FFCC00;
      
    
}

#custom-nav .menu {

color: #fafafa;
font-weight: bold;
position: relative;
left:90%;
bottom: 100%;
cursor: pointer;
}

/* Change of Toggle icon --End*/

#nav-mobile {

    position: relative;
    right: 16%;
    font-weight: bold;
}


 /*
========================
  Landing page styles
========================
*/


#cta {
    margin-top: 10%;
    padding-bottom: 10%;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#cta p{
    font-size: 1.5em;
    text-transform: initial;
    font-weight: bold;
    color: #CC0000!important;
    opacity: .7;
    font-family: 'Lato', sans-serif;
}

#cta #intro {
    font-size: 1.2em;
    font-weight: bold;
    color: #CC0000!important;

}
#ourCore {
    color: #FFCC00;
    text-shadow: 3px 1px 1px #CC0000;
   
}

#learn {
    font-family: 'Open Sans', sans-serif; 
    
    margin-bottom: 15%!important;
    background-color: #CC0000!important;
}


#learn:hover {
    background-color: #fafafa!important;
    color: #CC0000!important;
}

#learn a {
    color: #fafafa;
    
}

#learn a:hover {
    color: #CC0000!important;
    
}

#cta #intro-message-1 {

    box-shadow: 10px 5px 5px red;
    width: 20%;
}
#cta #intro-message-1, #cta #intro-message-2 {
    font-family: 'Cookie', cursive;
    font-size: 2em;
    
}




/*
====================
   About styles
====================
*/




#about-content{

    padding-bottom: 20%;
    margin-top: 5%;
}

#about-content h1{
    color: #7F817E!important;
    font-size: 4em!important;
    font-family: 'Nunito', sans-serif;
    color: #2FB4B4!important;
}


#our-history{

    margin-bottom: 5%;
}


#our-history p{

    font-size: 1.5em;
} 


/*
========================
  Contact styles styles
========================
*/

#contact-page {
    padding-bottom: 10%;
}


#contact-page h1{

    font-size: 4em!important;
    text-align: justify;
    margin-bottom: 5%;
}



#contact-heading {

    font-size: 1.5em;
    line-height: 0.9em;
}

#contact-page p {
    font-size: 1.2em;
    text-align: justify;
}

#contact-page h2 {
    
    color: #2FB4B4!important;
    font-size: 1.5em!important;
    font-family: 'Nunito', sans-serif;
    

}

#contact-path {
    margin-top: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
 
}

#contact-path p {

    text-align: justify;
   
}

#direct-path{

    height: 200px;
    padding-left: 10%;
    grid-column: 1/2;
    grid-row: 1/2;
}



#help-path {
    border-left: 1px solid #7F817E!important;
    padding-left: 10%;
    height: 200px;
    grid-column: 2/3;
    grid-row: 1/2;
}

.message {
    color: #7F817E;
    cursor: pointer;
}




/*
====================
   Footer styles
====================
*/
                   

#footer{
    background-color: #ffffff!important;
    color: #7F817E!important;
    
}

#copyright-section{
    background-color: #ffffff!important;
    color: #7F817E!important;
    border-top: 1px solid #CC0000;
}

#copyright-section i {
    color: #7F817E!important;
    margin-top: 3.5%;
}

#legal-notices li, #legal-notices a {
    display: inline;
    margin: 10px;
    color: #7F817E!important;
    font-family: 'Open Sans', sans-serif;
}
#social-media-icons a {

    margin-right: 5%;
}




/*
 ========================
   Privacy page styles
 ========================
*/
                   

#privacy h1 {
    color: #7F817E!important;
    font-size: 5em!important;
    font-family: 'Nunito', sans-serif;

}

#privacy h2 {

    color: #7F817E!important;
    font-size: 3em!important;
    font-family: 'Nunito', sans-serif;
}

#privacy h3 {

    color: #7F817E!important;
    font-size: 2em!important;
    font-family: 'Nunito', sans-serif;
}

#privacy h4 {

    color: #7F817E!important;
    font-size: 1.5em!important;
    font-family: 'Nunito', sans-serif;
}

#privacy ul {

    
    color: #7F817E!important;
    font-family: 'Open Sans', sans-serif;
}

#privacy li {

    margin-bottom: 10px;
}

#privacy a {

    color: #7F817E!important;
    font-weight: bold!important;
    text-decoration: underline;
}

#social-media-icons {

    margin-top: 10px;
}

#privacy p {

    letter-spacing: 0.01em;
}

/*
=========================================================
      Responsive code for larger devices
==========================================================
*/ 

@media(max-width: 1200px){



    /*
====================
    Global styles
====================
*/

h1{
  
    font-size: 4.5em!important;
    color: #CC0000!important;
}

/*p{
    font-family: 'Open Sans', sans-serif;   

}
*/

#custom-nav{

    background-color: #CC0000!important;
    color: #7F817E!important;
    border-bottom: none!important;
    box-shadow: none!important;
    margin-top: 1.5%;
    
}

.btn {

    background-color: #CC0000!important;
}

.btn:hover {
    background-color: #fafafa!important;
    color: #7F817E!important;
    border: 1px solid #7F817E!important;
}

#custom-nav img, #custom-nav #brand {

    position: relative;
    left: 5%;
}

 
#custom-nav #brand {
    color: #fafafa!important;
    font-family: 'Sacramento', cursive;
    font-size: 1.5em!important;
    font-weight: bold!important;

}

#custom-nav img {
    margin-top: 8px;
    margin-right: 10px;
}

#custom-nav #brand{
    font-size: 1.3em;
    position: relative;
    bottom: 20%;
    font-weight: bold;  
}


#toggler {
    position: absolute;
    right: 20%;
    bottom: 91%;
    left: 85%;
    cursor: pointer;
    padding: 15px;
    height: 50px;
    width: 50px;
} 

#toggler div:nth-of-type(1){
    height: 3px;
    width: 25px;
    background-color: #FFCC00;
    transition: all 0.5s ease;
    position: relative;
    right: 25%;
    transform: rotate(180deg);
    
}

#toggler div:nth-of-type(2){
    height: 3px;
    width: 25px;
    margin-top: 5px;
    transition: all 0.5s ease;
    position: relative;
    left: 30%;
    transform: rotate(180deg);
    background-color: #FFCC00;
}

/* Change of Toggle icon*/

#transformed-toggler {
    position: absolute;
    right: 20%;
    bottom: 91%;
    left: 85%;
    cursor: pointer;
    border: 2px solid #FFCC00;
    border-radius: 50%;
    padding: 15px;
    height: 50px;
    width: 50px;
    z-index: 2;
    background-color: #fafafa!important;
    
} 

#transformed-toggler div:nth-of-type(1){
    height: 3px;
    width: 25px;
    background-color: #FFCC00;
    position: relative;
    right: 50%;
    top: 30%;
    transition: all 0.5s ease;
    transform: rotate(90deg);
}

#transformed-toggler div:nth-of-type(2){
    height: 20px;
    width: 3px;
    margin-top: 5px;
    position: relative;
    right: 40%;
    left: 90%;
    bottom: 70%;
    transition: all 0.5s ease;
    background-color: #FFCC00;
      
    
}


/* Change of Toggle icon --End*/

#nav-mobile {

    position: fixed;
    top:0;
    right: 0;
    font-weight: bold;
    background-color: #CC0000;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50vw;
    z-index: 200;
    
}

#custom-nav ul a {

    color: #ffffff!important;
    text-align: end;
    position: relative;
    top: 150%;
    right: 0;
    font-size: 2em;
    padding: 20px;
}


 /*
========================
  Landing page styles
========================
*/


#cta {
    margin-top: 10%;
    margin-bottom: 5%;
    padding-bottom: 0;

    background-repeat: no-repeat;
    background-size: cover;
}

/*#cta p{
    font-size: 3em;
    color: #7F817E!important;
    font-family: 'Open Sans', sans-serif;
}*/



#learn-more {
    font-family: 'Open Sans', sans-serif; 
    font-size: 1.2em!important;
    height: 100px;
    width: 50%;

}


#sub-section{
 border: 1px solid #2FB4B4;
 margin-top: 0;
 padding: 20px;
}

#sub-section p, #project-request p {
    font-size: 2.5em;
    color: #7F817E!important;
    font-family: 'Open Sans', sans-serif;
}

#project-request{

    margin-top: 15%;
}

#project-request p:nth-of-type(2){
    font-size: 2em!important;
}

#journey{
    margin-top: 15%;
    padding: 2%;
    
   
}

#dev-path {

    background-color: #2FB4B4!important;
    font-size: 2em;
    padding: 5%;
    color: #ffffff!important;
}

#client-path {
    font-size: 2em;
    padding: 5%;
    color: #7F817E!important;
    background-color: #ffffff!important;
    height: 100%;
    margin-bottom: 5%;
}

#client-path  p {
    margin-bottom: 23%;
}

#path-one, #path-two {
    height:  50px!important;
    width:   150px;
    padding: 8px;
}


/*
====================
   About styles
====================
*/




#about-content{

    padding-bottom: 20%;
    margin-top: 10%!important;
   
}

#about-content h1{
    color: #7F817E!important;
    font-size: 3em!important;
    font-family: 'Nunito', sans-serif;
    color: #2FB4B4!important;
    letter-spacing: 0.01em;
}


#our-history{

    margin-bottom: 5%;
}

#our-history p{
    font-size: 2.5em!important;
    letter-spacing: 0.01em;
}



/*
========================
  Contact styles styles
========================
*/

#contact-page {
    padding-bottom: 15%;
}


#contact-page h1{

    font-size: 2em!important;
    text-align: center;
    
}

#contact-page p {
    font-size: 1.5em;
    text-align: center;
   
}

#contact-page h2 {
    
    color: #2FB4B4!important;
    font-size: 2em!important;
    font-family: 'Nunito', sans-serif;
    

}


#contact-path {
    margin-top: 10%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
 
}

#contact-path p {

    text-align: justify;
   
}

#direct-path{

    height: 200px;
    padding-left: 10%;
    grid-column: 1/2;
    grid-row: 1/2;
}



#help-path {
    border-top: 1px solid #7F817E!important;
    border-left: none!important;
    padding-left: 10%;
    height: 200px;
    grid-column: 1/2;
    grid-row: 2/3;
}




/*
====================
   Footer styles
====================
*/
                   

footer{
    background-color: #ffffff!important;
    color: #7F817E!important;
    text-align: justify!important;
  
    
}

#copyright-section{
    background-color: #ffffff!important;
    color: #7F817E!important;
    border-top: 1px solid #7F817E;
    margin-top: 10%;
}

#copyright-section i {
    color: #7F817E!important;
    margin-top: 3.5%;
}

#legal-notices li, #legal-notices a {
    display: inline;
    margin: 10px;
    color: #7F817E!important;
    font-family: 'Open Sans', sans-serif;
    text-align: justify!important;
}




/*
 ========================
   Privacy page styles
 ========================
*/
                   

#privacy h1 {
    color: #7F817E!important;
    font-size: 5em!important;
    font-family: 'Nunito', sans-serif;

}

#privacy h2 {

    color: #7F817E!important;
    font-size: 3em!important;
    font-family: 'Nunito', sans-serif;
}

#privacy h3 {

    color: #7F817E!important;
    font-size: 2em!important;
    font-family: 'Nunito', sans-serif;
}

#privacy h4 {

    color: #7F817E!important;
    font-size: 1.5em!important;
    font-family: 'Nunito', sans-serif;
}

#privacy ul {

    
    color: #7F817E!important;
    font-family: 'Open Sans', sans-serif;
}

#privacy li {

    margin-bottom: 10px;
}

#privacy a {

    color: #7F817E!important;
    font-weight: bold!important;
    text-decoration: underline;
}




}



/*
=========================================================
      Responsive code for larger mobile devices
==========================================================
*/ 

@media(max-width: 992px){



    /*
====================
    Global styles
====================
*/

h1{
  
    font-size: 4.5em!important;
    color: #CC0000!important;
}

/*p{
    font-family: 'Open Sans', sans-serif;   

}
*/
#custom-nav{

    background-color: #ffffff!important;
    color: #7F817E!important;
    border-bottom: none!important;
    box-shadow: none!important;
    margin-top: 1.5%;
    
}

.btn {

    background-color: #CC0000!important;
}

.btn:hover {
    background-color: #fafafa!important;
    color: #7F817E!important;
    border: 1px solid #CC0000!important;
}

#custom-nav img, #custom-nav #brand {

    position: relative;
    left: 5%;
}

 
#custom-nav #brand {
    color: #CC0000!important;
    font-family: 'Sacramento', cursive;
    font-size: 1.5em!important;

}

#custom-nav img {
    margin-top: 8px;
    margin-right: 10px;
}

#custom-nav #brand{
    font-size: 1.3em;
    position: relative;
    bottom: 20%;
    font-weight: bold;  
}


#toggler {
    position: absolute;
    right: 20%;
    bottom: 91%;
    left: 85%;
    cursor: pointer;
    padding: 15px;
    height: 50px;
    width: 50px;
} 

#toggler div:nth-of-type(1){
    height: 3px;
    width: 25px;
    background-color: #FFCC00;
    transition: all 0.5s ease;
    position: relative;
    right: 25%;
    transform: rotate(180deg);
    
}

#toggler div:nth-of-type(2){
    height: 3px;
    width: 25px;
    margin-top: 5px;
    transition: all 0.5s ease;
    position: relative;
    left: 30%;
    transform: rotate(180deg);
    background-color: #FFCC00;
}

/* Change of Toggle icon*/

#transformed-toggler {
    position: absolute;
    right: 20%;
    bottom: 91%;
    left: 85%;
    cursor: pointer;
    border: 2px solid #FFCC00;
    border-radius: 50%;
    padding: 15px;
    height: 50px;
    width: 50px;
    z-index: 2;
    background-color: #fafafa!important;
    
} 

#transformed-toggler div:nth-of-type(1){
    height: 3px;
    width: 25px;
    background-color: #FFCC00;
    position: relative;
    right: 50%;
    top: 30%;
    transition: all 0.5s ease;
    transform: rotate(90deg);
}

#transformed-toggler div:nth-of-type(2){
    height: 20px;
    width: 3px;
    margin-top: 5px;
    position: relative;
    right: 40%;
    left: 90%;
    bottom: 70%;
    transition: all 0.5s ease;
    background-color: #FFCC00;
      
    
}

/* Change of Toggle icon --End*/


#nav-mobile {

    position: fixed;
    top:0;
    right: 0;
    font-weight: bold;
    background-color: #CC0000;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50vw;
    z-index: 200;
    
}

#custom-nav ul a {

    color: #ffffff!important;
    text-align: end;
    position: relative;
    top: 150%;
    right: 0;
    font-size: 1.5em;
}


 /*
========================
  Landing page styles
========================
*/


#cta {
    margin-top: 10%;
    padding-bottom: 1%;
    background-repeat: no-repeat;
    background-size: cover;
}
/*
#cta p{
    font-size: 2.5em;
    color: #7F817E!important;
    font-family: 'Open Sans', sans-serif;
}
*/


#learn-more {
    font-family: 'Open Sans', sans-serif; 
    font-size: 1.2em!important;
    height: 100px;
    width: 50%;

}


/*
====================
   About styles
====================
*/




#about-content{

    padding-bottom: 20%;
    margin-top: 10%!important;
   
}

#about-content h1{
    color: #7F817E!important;
    font-size: 3em!important;
    font-family: 'Nunito', sans-serif;
    color: #2FB4B4!important;
}


#our-history{

    margin-bottom: 5%;
}

#our-history p{
    font-size: 1.5em!important;

}


/*
========================
  Contact styles styles
========================
*/

#contact-page {
    padding-bottom: 15%;
}


#contact-page h1{

    font-size: 3em!important;
    text-align: center;
    
}

#contact-page p {
    font-size: 1.5em;
    text-align: center;
}

#contact-page h2 {
    
    color: #2FB4B4!important;
    font-size: 2em!important;
    font-family: 'Nunito', sans-serif;
    

}

#contact-path {
    margin-top: 10%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
 
}

#contact-path p {

    text-align: justify;
   
}

#direct-path{

    height: 200px;
    padding-left: 10%;
    grid-column: 1/2;
    grid-row: 1/2;
}



#help-path {
    border-top: 1px solid #7F817E!important;
    border-left: none!important;
    padding-left: 10%;
    height: 200px;
    grid-column: 1/2;
    grid-row: 2/3;
}





/*
====================
   Footer styles
====================
*/
                   

#footer{
    background-color: #ffffff!important;
    color: #7F817E!important;
    text-align: justify!important;
    
}

#copyright-section{
    background-color: #ffffff!important;
    color: #7F817E!important;
    border-top: 1px solid #CC0000;
}

#copyright-section i {
    color: #7F817E!important;
    margin-top: 3.5%;
}

#legal-notices li, #legal-notices a {
    display: inline;
    margin: 10px;
    color: #7F817E!important;
    font-family: 'Open Sans', sans-serif;
    text-align: justify!important;
}




/*
 ========================
   Privacy page styles
 ========================
*/
                   

#privacy h1 {
    color: #7F817E!important;
    font-size: 5em!important;
    font-family: 'Nunito', sans-serif;

}

#privacy h2 {

    color: #7F817E!important;
    font-size: 3em!important;
    font-family: 'Nunito', sans-serif;
}

#privacy h3 {

    color: #7F817E!important;
    font-size: 2em!important;
    font-family: 'Nunito', sans-serif;
}

#privacy h4 {

    color: #7F817E!important;
    font-size: 1.5em!important;
    font-family: 'Nunito', sans-serif;
}

#privacy ul {

    
    color: #7F817E!important;
    font-family: 'Open Sans', sans-serif;
}

#privacy li {

    margin-bottom: 10px;
}

#privacy a {

    color: #7F817E!important;
    font-weight: bold!important;
    text-decoration: underline;
}




}




/*
=========================================================
      Responsive code for larger mobile devices
==========================================================
*/ 

@media(max-width: 720px){



    /*
====================
    Global styles
====================
*/

h1{
  
    font-size: 4.5em!important;
    color: #CC0000!important;
}
/*
p{
    font-family: 'Open Sans', sans-serif;   

}*/

#custom-nav{

    background-color: #ffffff!important;
    color: #7F817E!important;
    border-bottom: none!important;
    box-shadow: none!important;
    margin-top: 1.5%;
    
}

.btn {

    background-color: #CC0000!important;
}

.btn:hover {
    background-color: #fafafa!important;
    color: #CC0000!important;
    border: 1px solid #CC0000!important;
}

#custom-nav img, #custom-nav #brand {

    position: relative;
    left: 5%;
}

 
#custom-nav #brand {
    color: #CC0000!important;
    font-family: 'Sacramento', cursive;
    font-size: 1.5em!important;

}

#custom-nav img {
    margin-top: 8px;
    margin-right: 10px;
}

#custom-nav #brand{
    font-size: 1.3em;
    position: relative;
    bottom: 20%;
    font-weight: bold;  
}


#toggler {
    position: absolute;
    right: 20%;
    bottom: 91%;
    left: 85%;
    cursor: pointer;
    padding: 15px;
    height: 50px;
    width: 50px;
} 

#toggler div:nth-of-type(1){
    height: 3px;
    width: 25px;
    background-color: #CC0000;
    transition: all 0.5s ease;
    position: relative;
    right: 25%;
    transform: rotate(180deg);
    
}

#toggler div:nth-of-type(2){
    height: 3px;
    width: 25px;
    margin-top: 5px;
    transition: all 0.5s ease;
    position: relative;
    left: 30%;
    transform: rotate(180deg);
    background-color: #CC0000;
}

/* Change of Toggle icon*/

#transformed-toggler {
    position: absolute;
    right: 20%;
    bottom: 91%;
    left: 85%;
    cursor: pointer;
    border: 2px solid #CC0000;
    border-radius: 50%;
    padding: 15px;
    height: 50px;
    width: 50px;
    z-index: 2;
    background-color: #fafafa!important;
    
} 

#transformed-toggler div:nth-of-type(1){
    height: 3px;
    width: 25px;
    background-color: #CC0000;
    position: relative;
    right: 50%;
    top: 30%;
    transition: all 0.5s ease;
    transform: rotate(90deg);
}

#transformed-toggler div:nth-of-type(2){
    height: 20px;
    width: 3px;
    margin-top: 5px;
    position: relative;
    right: 40%;
    left: 90%;
    bottom: 70%;
    transition: all 0.5s ease;
    background-color: #CC0000;
      
    
}


/* Change of Toggle icon --End*/

#nav-mobile {

    position: fixed;
    top:0;
    right: 0;
    font-weight: bold;
    background-color: #CC0000;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50vw;
    z-index: 200;
    
}

#custom-nav ul a {

    color: #ffffff!important;
    text-align: end;
    position: relative;
    top: 150%;
    right: 0;
    font-size: 1.5em;
    padding: 10px;
    margin-right: 10%;
}


 /*
========================
  Landing page styles
========================
*/


#cta {
    margin-top: 10%;
    padding-bottom: 10%;
    background-repeat: no-repeat;
    background-size: cover;
}
/*
#cta p{
    font-size: 2.5em;
    color: #7F817E!important;
    font-family: 'Open Sans', sans-serif;
}
*/


#learn-more {
    font-family: 'Open Sans', sans-serif; 
    font-size: 1.2em!important;
    height: 100px;
    width: 50%;

}


#sub-section{
 border: 1px solid #2FB4B4;
 margin-top: 0;
 padding: 20px;
}

#sub-section p, #project-request p {
    font-size: 2em;
    color: #7F817E!important;
    font-family: 'Open Sans', sans-serif;
}

#project-request{

    margin-top: 15%;
}

#project-request p:nth-of-type(2){
    font-size: 2em!important;
}

#journey{
    margin-top: 15%;
    padding: 2%;
    
   
}

#dev-path {

    background-color: #2FB4B4!important;
    font-size: 2em;
    padding: 5%;
    color: #ffffff!important;
}

#client-path {
    font-size: 2em;
    padding: 5%;
    color: #7F817E!important;
    background-color: #ffffff!important;
    height: 100%;
    margin-bottom: 5%;
}

#client-path  p {
    margin-bottom: 23%;
}

#path-one, #path-two {
    height:  50px!important;
    width:   150px;
    padding: 8px;
}


/*
====================
   About styles
====================
*/




#about-content{

    padding-bottom: 20%;
    margin-top: 10%!important;
   
}

#about-content h1{
    color: #7F817E!important;
    font-size: 3em!important;
    font-family: 'Nunito', sans-serif;
    color: #2FB4B4!important;
}


#our-history{

    margin-bottom: 5%;
}

#history p{
    font-size: 3.5em!important;

}



/*
========================
  Contact styles styles
========================
*/

#contact-page {
    padding-bottom: 15%;
}


#contact-page h1{

    font-size: 3em!important;
    text-align: center;
    
}

#contact-page p {
    font-size: 1.5em;
    text-align: center;
}

#contact-page h2 {
    
    color: #2FB4B4!important;
    font-size: 2em!important;
    font-family: 'Nunito', sans-serif;
    

}


#contact-path {
    margin-top: 10%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
 
}

#contact-path p {

    text-align: justify;
   
}

#direct-path{

    height: 200px;
    padding-left: 10%;
    grid-column: 1/2;
    grid-row: 1/2;
}



#help-path {
    border-top: 1px solid #7F817E!important;
    border-left: none!important;
    padding-left: 10%;
    height: 200px;
    grid-column: 1/2;
    grid-row: 2/3;
}






/*
====================
   Footer styles
====================
*/
                   

#footer{
    background-color: #ffffff!important;
    color: #7F817E!important;
    text-align: justify!important;
    
}

#copyright-section{
    background-color: #ffffff!important;
    color: #7F817E!important;
    border-top: 1px solid #CC0000;
}

#copyright-section i {
    color: #7F817E!important;
    margin-top: 3.5%;
}

#legal-notices li, #legal-notices a {
    display: inline;
    margin: 10px;
    color: #7F817E!important;
    font-family: 'Open Sans', sans-serif;
    text-align: justify!important;
}




/*
 ========================
   Privacy page styles
 ========================
*/
                   

#privacy h1 {
    color: #7F817E!important;
    font-size: 5em!important;
    font-family: 'Nunito', sans-serif;

}

#privacy h2 {

    color: #7F817E!important;
    font-size: 3em!important;
    font-family: 'Nunito', sans-serif;
}

#privacy h3 {

    color: #7F817E!important;
    font-size: 2em!important;
    font-family: 'Nunito', sans-serif;
}

#privacy h4 {

    color: #7F817E!important;
    font-size: 1.5em!important;
    font-family: 'Nunito', sans-serif;
}

#privacy ul {

    
    color: #7F817E!important;
    font-family: 'Open Sans', sans-serif;
}

#privacy li {

    margin-bottom: 10px;
}

#privacy a {

    color: #7F817E!important;
    font-weight: bold!important;
    text-decoration: underline;
}




}


/*
=========================================================
      Responsive code for larger mobile devices
==========================================================
*/ 

@media(max-width: 645px){

    
    /*
====================
    Global styles
====================
*/

h1{
  
    font-size: 4.5em!important;
    color: #CC0000!important;
}
/*
p{
    font-family: 'Open Sans', sans-serif;   

}
*/
#custom-nav{

    background-color: #ffffff!important;
    color: #7F817E!important;
    border-bottom: none!important;
    box-shadow: none!important;
    margin-top: 1.5%;
    
}

.btn {

    background-color: #CC0000!important;
}

.btn:hover {
    background-color: #fafafa!important;
    color: #CC0000!important;
    border: 1px solid #CC0000!important;
}

#custom-nav img, #custom-nav #brand {

    position: relative;
    left: 5%;
}

 
#custom-nav #brand {
    color: #CC0000!important;
    font-family: 'Sacramento', cursive;
    font-size: 1.5em!important;
    position: relative;
    bottom: 20%;
    font-weight: bold;  
}

#custom-nav img {
    margin-top: 8px;
    margin-right: 10px;
}



#toggler {
    position: absolute;
    right: 20%;
    bottom: 91%;
    left: 85%;
    cursor: pointer;
    padding: 15px;
    height: 50px;
    width: 50px;
} 

#toggler div:nth-of-type(1){
    height: 3px;
    width: 25px;
    background-color: #CC0000;
    transition: all 0.5s ease;
    position: relative;
    right: 25%;
    transform: rotate(180deg);
    
}

#toggler div:nth-of-type(2){
    height: 3px;
    width: 25px;
    margin-top: 5px;
    transition: all 0.5s ease;
    position: relative;
    left: 30%;
    transform: rotate(180deg);
    background-color: #CC0000;
}

/* Change of Toggle icon*/

#transformed-toggler {
    position: absolute;
    right: 20%;
    bottom: 91%;
    left: 85%;
    cursor: pointer;
    border: 2px solid #CC0000;
    border-radius: 50%;
    padding: 15px;
    height: 50px;
    width: 50px;
    z-index: 2;
    background-color: #fafafa!important;
    
} 

#transformed-toggler div:nth-of-type(1){
    height: 3px;
    width: 25px;
    background-color: #CC0000;
    position: relative;
    right: 50%;
    top: 30%;
    transition: all 0.5s ease;
    transform: rotate(90deg);
}

#transformed-toggler div:nth-of-type(2){
    height: 20px;
    width: 3px;
    margin-top: 5px;
    position: relative;
    right: 40%;
    left: 90%;
    bottom: 70%;
    transition: all 0.5s ease;
    background-color: #CC0000;
      
    
}

/* Change of Toggle icon --End*/

#nav-mobile {

    font-weight: bold;
    background-color: #CC0000;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50vw;
    z-index: 200;
  
    
}

#custom-nav ul a {

    color: #ffffff!important;
    text-align: end;
    position: relative;
    top: 150%;
    right: 0;
    font-size: 1em;
    padding: 2px;
    margin-right: 10%;
}


 /*
========================
  Landing page styles
========================
*/


#cta {
    margin-top: 10%;
    padding-bottom: 10%;
    background-repeat: no-repeat;
    background-size: cover;
}
/*
#cta p{
    font-size: 2.5em;
    color: #7F817E!important;
    font-family: 'Open Sans', sans-serif;
}
*/


#learn-more {
    font-family: 'Open Sans', sans-serif; 
    font-size: 1.2em!important;
    height: 100px;
    width: 50%;

}


#sub-section{
 border: 1px solid #2FB4B4;
 margin-top: 0;
 padding: 20px;
}

#sub-section p, #project-request p {
    font-size: 2em;
    color: #7F817E!important;
    font-family: 'Open Sans', sans-serif;
}

#project-request{

    margin-top: 15%;
}

#project-request p:nth-of-type(2){
    font-size: 2em!important;
}

#journey{
    margin-top: 15%;
    padding: 2%;
    
   
}

#dev-path {

    background-color: #2FB4B4!important;
    font-size: 2em;
    padding: 5%;
    color: #ffffff!important;
}

#client-path {
    font-size: 2em;
    padding: 5%;
    color: #7F817E!important;
    background-color: #ffffff!important;
    height: 100%;
    margin-bottom: 5%;
}

#client-path  p {
    margin-bottom: 23%;
}

#path-one, #path-two {
    height:  50px!important;
    width:   150px;
    padding: 8px;
}


/*
====================
   About styles
====================
*/




#about-content{

    padding-bottom: 20%;
    margin-top: 10%!important;
   
}

#about-content h1{
    color: #7F817E!important;
    font-size: 3em!important;
    font-family: 'Nunito', sans-serif;
    color: #2FB4B4!important;
}


#our-history{

    margin-bottom: 5%;
}

#history p{
    font-size: 3.5em!important;

}


/*
========================
  Contact styles styles
========================
*/

#contact-page {
    padding-bottom: 15%;
}


#contact-page h1{

    font-size: 3em!important;
    text-align: center;
    
}

#contact-page p {
    font-size: 1.5em;
    text-align: center;
}

#contact-page h2 {
    
    color: #2FB4B4!important;
    font-size: 2em!important;
    font-family: 'Nunito', sans-serif;
    

}

#contact-path {
    margin-top: 10%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
 
}

#contact-path p {

    text-align: justify;
   
}

#direct-path{

    height: 200px;
    padding-left: 10%;
    grid-column: 1/2;
    grid-row: 1/2;
}



#help-path {
    border-top: 1px solid #7F817E!important;
    border-left: none!important;
    padding-left: 10%;
    height: 200px;
    grid-column: 1/2;
    grid-row: 2/3;
}



/*
====================
   Footer styles
====================
*/
                   

#footer{
    background-color: #ffffff!important;
    color: #7F817E!important;
    text-align: justify!important;
    
}

#copyright-section{
    background-color: #ffffff!important;
    color: #7F817E!important;
    border-top: 1px solid #CC0000;
}

#copyright-section i {
    color: #7F817E!important;
    margin-top: 3.5%;
}

#legal-notices li, #legal-notices a {
    display: inline;
    margin: 10px;
    color: #7F817E!important;
    font-family: 'Open Sans', sans-serif;
    text-align: justify!important;
}




/*
 ========================
   Privacy page styles
 ========================
*/
                   

#privacy h1 {
    color: #7F817E!important;
    font-size: 5em!important;
    font-family: 'Nunito', sans-serif;

}

#privacy h2 {

    color: #7F817E!important;
    font-size: 3em!important;
    font-family: 'Nunito', sans-serif;
}

#privacy h3 {

    color: #7F817E!important;
    font-size: 2em!important;
    font-family: 'Nunito', sans-serif;
}

#privacy h4 {

    color: #7F817E!important;
    font-size: 1.5em!important;
    font-family: 'Nunito', sans-serif;
}

#privacy ul {

    
    color: #7F817E!important;
    font-family: 'Open Sans', sans-serif;
}

#privacy li {

    margin-bottom: 10px;
}

#privacy a {

    color: #7F817E!important;
    font-weight: bold!important;
    text-decoration: underline;
}


}


/*
================================
   Responsive code for mobile
================================
*/ 

@media(max-width: 639px){



    /*
====================
    Global styles
====================
*/

h1{
  
    font-size: 4.5em!important;
    
    color: #CC0000!important;
}
/*
p{
    font-family: 'Open Sans', sans-serif;   

}
*/
#custom-nav{

    background-color: #ffffff!important;
    color: #7F817E!important;
    border-bottom: none!important;
    box-shadow: none!important;
    margin-top: 1.5%;
    
}

.btn {

    background-color: #CC0000!important;
}

.btn:hover {
    background-color: #fafafa!important;
    color: #CC0000!important;
    border: 1px solid #CC0000!important;
}

#custom-nav img, #custom-nav #brand {

    position: relative;
    left: 5%;
}


#custom-nav #brand {
    color: #CC0000!important;
    font-family: 'Sacramento', cursive;
    font-size: 1.5em!important;
    position: relative;
    bottom: 20%;
    font-weight: bold;  

}

#custom-nav img {
    margin-top: 8px;
    margin-right: 10px;
}



#toggler {
    position: absolute;
    right: 20%;
    bottom: 91%;
    left: 85%;
    cursor: pointer;
    padding: 15px;
    height: 50px;
    width: 50px;
} 

#toggler div:nth-of-type(1){
    height: 3px;
    width: 25px;
    background-color: #CC0000;
    transition: all 0.5s ease;
    position: relative;
    right: 25%;
    transform: rotate(180deg);
    
}

#toggler div:nth-of-type(2){
    height: 3px;
    width: 25px;
    margin-top: 5px;
    transition: all 0.5s ease;
    position: relative;
    left: 30%;
    transform: rotate(180deg);
    background-color: #CC0000;
}

/* Change of Toggle icon*/

#transformed-toggler {
    position: absolute;
    right: 20%;
    bottom: 91%;
    left: 85%;
    cursor: pointer;
    border: 2px solid #CC0000;
    border-radius: 50%;
    padding: 15px;
    height: 50px;
    width: 50px;
    z-index: 2;
    background-color: #fafafa!important;
    
} 

#transformed-toggler div:nth-of-type(1){
    height: 3px;
    width: 25px;
    background-color: #CC0000;
    position: relative;
    right: 50%;
    top: 30%;
    transition: all 0.5s ease;
    transform: rotate(90deg);
}

#transformed-toggler div:nth-of-type(2){
    height: 20px;
    width: 3px;
    margin-top: 5px;
    position: relative;
    right: 40%;
    left: 90%;
    bottom: 70%;
    transition: all 0.5s ease;
    background-color: #CC0000;
      
    
}


/* Change of Toggle icon --End*/

#nav-mobile {

    position: fixed;
    top:0;
    right: 0;
    font-weight: bold;
    background-color: #CC0000;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50vw;
    z-index: 200;
    
}

#custom-nav ul a {

    color: #ffffff!important;
    text-align: end;
    position: relative;
    top: 150%;
    right: 0;
    font-size: 1em;
    padding: 5px;
    margin-right: 10%;
}



 /*
========================
  Landing page styles
========================
*/


#cta {
    margin-top: 10%;
    padding-bottom: 10%;
    background-size: cover;
    z-index: 1;
}
/*
#cta p{
    font-size: 2.5em;
    color: #7F817E!important;
    font-family: 'Open Sans', sans-serif;
}*/



#learn-more {
    font-family: 'Open Sans', sans-serif; 
    font-size: 1.2em!important;
    height: 100px;
    width: 70%;
    margin-bottom: 20%;

}


#sub-section{
 border: 1px solid #2FB4B4;
 margin-top: 18%;
 padding: 20px;
}

#sub-section p, #project-request p {
    font-size: 2em;
    color: #7F817E!important;
    font-family: 'Open Sans', sans-serif;
}

#project-request{

    margin-top: 15%;
}

#project-request p:nth-of-type(2){
    font-size: 2em!important;
}

#journey{
    margin-top: 15%;
    padding: 2%;
    
   
}

#dev-path {

    background-color: #2FB4B4!important;
    font-size: 2em;
    padding: 5%;
    color: #ffffff!important;
}

#client-path {
    font-size: 2em;
    padding: 5%;
    color: #7F817E!important;
    background-color: #ffffff!important;
    height: 100%;
    margin-bottom: 5%;
}

#client-path  p {
    margin-bottom: 23%;
}

#path-one, #path-two {
    height:  50px!important;
    width:   150px;
    padding: 8px;
}


/*
====================
   About styles
====================
*/




#about-content{

    padding-bottom: 20%;
    margin-top: 10%!important;
}

#about-content h1{
    color: #7F817E!important;
    font-size: 3em!important;
    font-family: 'Nunito', sans-serif;
    color: #2FB4B4!important;
}


#our-history{

    margin-bottom: 5%;
}

#history p{
    font-size: 2em!important;

}


/*
========================
  Contact styles styles
========================
*/

#contact-page {
    padding-bottom: 15%;
}


#contact-page h1{

    font-size: 3em!important;
    text-align: center;
    
}

#contact-page p {
    font-size: 1.5em;
    text-align: center;
}

#contact-page h2 {
    
    color: #2FB4B4!important;
    font-size: 2em!important;
    font-family: 'Nunito', sans-serif;
    

}

#contact-path {
    margin-top: 10%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
 
}

#contact-path p {

    text-align: justify;
   
}

#direct-path{

    height: 200px;
    padding-left: 10%;
    grid-column: 1/2;
    grid-row: 1/2;
}



#help-path {
    border-top: 1px solid #7F817E!important;
    border-left: none!important;
    padding-left: 10%;
    height: 200px;
    grid-column: 1/2;
    grid-row: 2/3;
}






/*
====================
   Footer styles
====================
*/
                   

#footer{
    background-color: #ffffff!important;
    color: #7F817E!important;
    text-align: justify!important;
    
}

#copyright-section{
    background-color: #ffffff!important;
    color: #7F817E!important;
    border-top: 1px solid #CC0000;
}

#copyright-section i {
    color: #7F817E!important;
    margin-top: 3.5%;
}

#legal-notices li, #legal-notices a {
    display: inline;
    margin: 10px;
    color: #7F817E!important;
    font-family: 'Open Sans', sans-serif;
    text-align: justify!important;
}




/*
 ========================
   Privacy page styles
 ========================
*/
                   

#privacy h1 {
    color: #7F817E!important;
    font-size: 5em!important;
    font-family: 'Nunito', sans-serif;

}

#privacy h2 {

    color: #7F817E!important;
    font-size: 3em!important;
    font-family: 'Nunito', sans-serif;
}

#privacy h3 {

    color: #7F817E!important;
    font-size: 2em!important;
    font-family: 'Nunito', sans-serif;
}

#privacy h4 {

    color: #7F817E!important;
    font-size: 1.5em!important;
    font-family: 'Nunito', sans-serif;
}

#privacy ul {

    
    color: #7F817E!important;
    font-family: 'Open Sans', sans-serif;
}

#privacy li {

    margin-bottom: 10px;
}

#privacy a {

    color: #7F817E!important;
    font-weight: bold!important;
    text-decoration: underline;
}







}



/*
================================
   Responsive code for mobile
================================
*/ 

@media(max-width: 576px){



    /*
====================
    Global styles
====================
*/

h1{
  
    font-size: 4.5em!important;
    color: #CC0000!important;
}
/*
p{
    font-family: 'Open Sans', sans-serif;   

}*/

#custom-nav{

    background-color: #ffffff!important;
    color: #7F817E!important;
    border-bottom: none!important;
    box-shadow: none!important;
    margin-top: 1.5%;
    
}

.btn {

    background-color: #CC0000!important;
}

.btn:hover {
    background-color: #fafafa!important;
    color: #CC0000!important;
    border: 1px solid #CC0000!important;
}

#custom-nav img, #custom-nav #brand {

    position: relative;
    left: 5%;
}


#custom-nav #brand {
    color: #CC0000!important;
    font-family: 'Sacramento', cursive;
    font-size: 1.5em!important;
    position: relative;
    bottom: 20%;
    font-weight: bold;  
}

#custom-nav img {
    margin-top: 8px;
    margin-right: 10px;
}


#toggler {
    position: absolute;
    right: 20%;
    bottom: 91%;
    left: 85%;
    cursor: pointer;
    padding: 15px;
    height: 50px;
    width: 50px;
} 

#toggler div:nth-of-type(1){
    height: 3px;
    width: 25px;
    background-color: #CC0000;
    transition: all 0.5s ease;
    position: relative;
    right: 25%;
    transform: rotate(180deg);
    
}

#toggler div:nth-of-type(2){
    height: 3px;
    width: 25px;
    margin-top: 5px;
    transition: all 0.5s ease;
    position: relative;
    left: 30%;
    transform: rotate(180deg);
    background-color: #CC0000;
}

/* Change of Toggle icon*/

#transformed-toggler {
    position: absolute;
    right: 20%;
    bottom: 91%;
    left: 85%;
    cursor: pointer;
    border: 2px solid #CC0000;
    border-radius: 50%;
    padding: 15px;
    height: 50px;
    width: 50px;
    z-index: 2;
    background-color: #fafafa!important;
    
} 

#transformed-toggler div:nth-of-type(1){
    height: 3px;
    width: 25px;
    background-color: #CC0000;
    position: relative;
    right: 50%;
    top: 30%;
    transition: all 0.5s ease;
    transform: rotate(90deg);
}

#transformed-toggler div:nth-of-type(2){
    height: 20px;
    width: 3px;
    margin-top: 5px;
    position: relative;
    right: 40%;
    left: 90%;
    bottom: 70%;
    transition: all 0.5s ease;
    background-color: #CC0000;
      
    
}


/* Change of Toggle icon --End*/

#nav-mobile {

    position: fixed;
    top:0;
    right: 0;
    font-weight: bold;
    background-color: #CC0000;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50vw;
    z-index: 200;
    
}

#custom-nav ul a {

    color: #ffffff!important;
    text-align: end;
    position: relative;
    top: 150%;
    right: 0;
    font-size: 1em;
    padding: 5px;
    margin-right: 10%;
}



 /*
========================
  Landing page styles
========================
*/


#cta {
    margin-top: 10%;
    padding-bottom: 10%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}
/*
#cta p{
    font-size: 2.5em;
    color: #7F817E!important;
    font-family: 'Open Sans', sans-serif;
}
*/


#learn-more {
    font-family: 'Open Sans', sans-serif; 
    font-size: 1.2em!important;
    height: 100px;
    width: 70%;
    margin-bottom: 20%;

}


#sub-section{
 border: 1px solid #2FB4B4;
 margin-top: 18%;
 padding: 20px;
}

#sub-section p, #project-request p {
    font-size: 2em;
    color: #7F817E!important;
    font-family: 'Open Sans', sans-serif;
}

#project-request{

    margin-top: 15%;
}

#project-request p:nth-of-type(2){
    font-size: 2em!important;
}

#journey{
    margin-top: 15%;
    padding: 2%;
    
   
}

#dev-path {

    background-color: #2FB4B4!important;
    font-size: 2em;
    padding: 5%;
    color: #ffffff!important;
}

#client-path {
    font-size: 2em;
    padding: 5%;
    color: #7F817E!important;
    background-color: #ffffff!important;
    height: 100%;
    margin-bottom: 5%;
}

#client-path  p {
    margin-bottom: 23%;
}

#path-one, #path-two {
    height:  50px!important;
    width:   150px;
    padding: 8px;
}


/*
====================
   About styles
====================
*/




#about-content{

    padding-bottom: 20%;
    margin-top: 10%!important;
}

#about-content h1{
    color: #7F817E!important;
    font-size: 3em!important;
    font-family: 'Nunito', sans-serif;
    color: #2FB4B4!important;
}


#our-history{

    margin-bottom: 5%;
}

#history p{
    font-size: 2em!important;

}


/*
========================
  Contact styles styles
========================
*/

#contact-page {
    padding-bottom: 15%;
}


#contact-page h1{

    font-size: 3em!important;
    text-align: center;
    
}

#contact-page p {
    font-size: 1.5em;
    text-align: center;
}

#contact-page h2 {
    
    color: #2FB4B4!important;
    font-size: 2em!important;
    font-family: 'Nunito', sans-serif;
    

}

#contact-path {
    margin-top: 10%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
 
}

#contact-path p {

    text-align: justify;
   
}

#direct-path{

    height: 200px;
    padding-left: 10%;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 10%;
}



#help-path {
    border-top: 1px solid #7F817E!important;
    border-left: none!important;
    padding-left: 10%;
    height: 200px;
    grid-column: 1/2;
    grid-row: 2/3;
}



/*
====================
   Footer styles
====================
*/
                   

#footer{
    background-color: #ffffff!important;
    color: #7F817E!important;
    text-align: justify!important;
    
}

#copyright-section{
    background-color: #ffffff!important;
    color: #7F817E!important;
    border-top: 1px solid #CC0000;
}

#copyright-section i {
    color: #7F817E!important;
    margin-top: 3.5%;
}

#legal-notices li, #legal-notices a {
    display: inline;
    margin: 10px;
    color: #7F817E!important;
    font-family: 'Open Sans', sans-serif;
    text-align: justify!important;
}




/*
 ========================
   Privacy page styles
 ========================
*/
                   

#privacy h1 {
    color: #7F817E!important;
    font-size: 5em!important;
    font-family: 'Nunito', sans-serif;

}

#privacy h2 {

    color: #7F817E!important;
    font-size: 3em!important;
    font-family: 'Nunito', sans-serif;
}

#privacy h3 {

    color: #7F817E!important;
    font-size: 2em!important;
    font-family: 'Nunito', sans-serif;
}

#privacy h4 {

    color: #7F817E!important;
    font-size: 1.5em!important;
    font-family: 'Nunito', sans-serif;
}

#privacy ul {

    
    color: #7F817E!important;
    font-family: 'Open Sans', sans-serif;
}

#privacy li {

    margin-bottom: 10px;
}

#privacy a {

    color: #7F817E!important;
    font-weight: bold!important;
    text-decoration: underline;
}


}
