.App {
  text-align: center;
  
}

p {
  text-shadow: #FC0 1px 0 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url(lets-travel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  background-color: #fafafa;
  padding: 10px;
  box-shadow: 3px 3px #61dafb, -0.2em 0 .4em #61dafb;
  
}

a {

  text-decoration: none;
}

.App-link:hover {
  color: #fafafa;
  background-color: #61dafb  ;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
